body{
  background:black;
  /* Green Unless Otherwise Said: */
  color:#0aff57;
  font-family: 'Share Tech Mono', monospace;
  cursor: none;
}
#imputtxt{
  width:100%;
  position:absolute;
  top:0px;
  left:0px;
  background:black;
  border:none;
  color:#0aff59;
}
